<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>PixelVisionX</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.component.css">
  <link rel="stylesheet" href="neural.css"> <!-- Add link to new CSS file here -->
</head>
<body>
  <header>
    <h1>PixelVisionX</h1>
  </header>
  <main>
    <router-outlet></router-outlet> <!-- Add this tag to display the current component -->
  </main>
  <footer>
    <p>&copy; 2023 PixelVisionX. All rights reserved.</p>
  </footer>
  <div class="neural-bg">
    <div class="neuron"></div>
    <div class="neuron"></div>
    <div class="neuron"></div>
    <div class="neuron"></div>
    <div class="neuron"></div>
    <div class="neuron"></div>
  </div>

</body>


</html>