.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  margin-bottom: 2rem;
}

label {
  margin-bottom: 0.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}


.btn-excite {
    background-color: #ff5722;
    color: #fff;
    font-size: 20px;
    padding: 20px 60px;
    border-radius: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 2rem;
    width: 350px; /* Set a fixed width for the buttons */
    text-align: center; /* Align the text in the center of the button */
  }

  .btn-excite:hover {
    background-color: #fff;
    color: #ff5722;
    transform: scale(1.1);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }


  .chart-container {
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    margin-top: 2rem;
    width: 800px; /* Set fixed width for the container */
    height: 400px; /* Set fixed height for the container */
    overflow-x: auto; /* Enable horizontal scrolling */
}



.status-bar-container {
    width: 100%;
    height: 2rem;
    position: relative;
  }
  
  .status-bar {
    background-color: #ddd;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5rem; /* Add margin-top here */
  }

  .step-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 500px;
  }


  .form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .form-row label,
  .form-row input,
  .form-row select {
    margin: 0 0.5rem;
  }
  
  .form-row input,
  .form-row select {
    flex: 1;
  }
  
  .form-row input {
    margin-bottom: 0;
  }
  
  .form-row label {
    margin-bottom: 0;
  }
  
  .form-row select {
    width: 100%;
    max-width: 200px; /* Set the maximum width for the select element */
  }


  .btn-reset {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-reset:hover {
    background-color: #d32f2f;
  }
  