<div class="Intro">
    <h1>Training AI Model</h1>
    <button (click)="startTraining()" class="btn-excite">Start Training</button>
  </div>
  
  <div *ngIf="trainingStarted" class="chart-container">
    <canvas
        width="800" height="400" 
        *ngIf="changeTrigger"
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]="lineChartType"
        [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
  