
<div class="container">

  <div class="intro">
    <h1>Train Self Supervised Model</h1>
    <div class="step-container">
      <h3>Step 1: Configure Hyperparameters</h3>
    </div>
    <form [formGroup]="hyperparametersForm" (ngSubmit)="submitHyperparameters()">
      <!-- Add your desired hyperparameters as form controls here -->
      <label for="learningRate">Learning Rate</label>
      <input formControlName="learningRate" id="learningRate" type="number" min="0.0001" step="0.0001" required>
      <!-- Add more form controls if needed -->
      <div class="button-container">
        <button type="submit" class="btn-excite">Submit HParameters</button>
      </div>
    </form>
  </div>

  <div class="training-section" *ngIf="hyperparametersSubmitted">
    <div class="step-container">
      <h3>Step 2: Start Training</h3>
    </div>
    <div class="button-container">
      <button (click)="startTraining()" class="btn-excite">Start Training</button>
    </div>
  </div>

  <div *ngIf="trainingStarted" class="chart-container">
    <canvas
        width="1200" height="800" 
        baseChart
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [legend]="lineChartLegend"
        [type]="lineChartType"
        [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>

  <div class="status-bar-container">
    <div class="status-bar">
      {{ trainingStatus }}
    </div>
  </div>

</div>